@page
@model LedMatrix.Pages.Draw.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Draw</h1>

<div>
    @*@for (int i = Model.Height - 1; i >= 0; i--)
    {
        for (int j = 0; j < Model.Width; j++)
        {
            <button class="btn-primary pixel" style="height:15px" data-x=@j data-y=@i></button>
        }
        <br />
    }*@
</div>

<div>
    <canvas id="canvas" height="@(Model.Height * 30)" width="@(Model.Width * 30)"></canvas>
    <canvas id="colorPicker" height="@(255 * 2)" width="@(255 * 2)"></canvas>
    <input type="range" min="0" max="255" value="127" id="blueSlider" step="1" />
    <div id="selectedColor"><br /><br /></div>

</div>
@section Scripts{

<script>
    let cellColor = "rgb(255, 0, 0)";
    const cellSize = 30;
    const colorCellSize = 2;
    let colorPickerCanvas = document.getElementById("colorPicker");
    let colorPickerContext = colorPickerCanvas.getContext("2d");
    function fillColorPicker(e) {
        let blue = $('#blueSlider').val();
        for (let r = 0; r < 255; r++) {
            for (let g = 0; g < 255; g++) {
                colorPickerContext.fillStyle = `rgb(${r},${g},${blue}`;
                colorPickerContext.fillRect(r * colorCellSize, g * colorCellSize, colorCellSize, colorCellSize);
            }
        }
    }

    $(document).ready(function () {
        let mouseIsDown = false;
        $(document).mousedown(function () {
            mouseIsDown = true;
        });
        $(document).mouseup(function () {
            mouseIsDown = false;
        });
        $('.pixel').click(function () {
            $.ajax({
                type: "POST",
                url: "api/Pixel",
                contentType: "application/json",
                data: JSON.stringify({
                    X: $(this).data("x"),
                    Y: $(this).data("y"),
                    R: 255,
                    G: 0,
                    B: 255,
                }),
                dataType: "json",
            })
            .done(function (result) {
                console.log(result);
            })
        });
        $('.pixel').mouseover(function () {
            if (mouseIsDown) {
                $.ajax({
                    type: "POST",
                    url: "api/Pixel",
                    contentType: "application/json",
                    data: JSON.stringify({
                        X: $(this).data("x"),
                        Y: $(this).data("y"),
                        R: 255,
                        G: 0,
                        B: 255,
                    }),
                    dataType: "json",
                })
                .done(function (result) {
                    console.log(result);
                })
            }
        });

        let canvas = document.getElementById("canvas");
        let context = canvas.getContext("2d");
        function drawGridLines() {
            let width = $('#canvas').width();
            let height = $('#canvas').height();

            for (let i = 0; i <= width; i += width / @Model.Width) {
                context.moveTo(i, 0);
                context.lineTo(i, height);
            }
            for (let i = 0; i <= height; i += height / @Model.Height) {
                context.moveTo(0, i);
                context.lineTo(width, i);
            }
            context.strokeStyle = "black";
            context.stroke();

        }
        drawGridLines();
        fillColorPicker();

        $('#blueSlider').on('input', fillColorPicker);
        $('#blueSlider').css('width', '100%')

        $('#canvas').mousedown(function (event) {
            mouseIsDown = true;
            fillCell(event);
        });

        function fillCell(event) {
            if (mouseIsDown) {
                let xShift = Math.floor(event.offsetX / cellSize);
                let yShift = Math.floor(event.offsetY / cellSize);
                context.fillStyle = cellColor;
                context.fillRect(xShift * cellSize, yShift * cellSize, cellSize, cellSize);
            }
        }

        $('#canvas').mouseover(function (event) {
            fillCell(event);
        });

        $('#canvas').mousemove(function (event) {
            fillCell(event);
        });

        $('#colorPicker').click(function (event) {
            let blue = $('#blueSlider').val();
            cellColor = `rgb(${Math.floor(event.offsetX / colorCellSize)}, ${Math.floor(event.offsetY / colorCellSize)}, ${blue}`
            $('#selectedColor').css('background-color', cellColor);
        });
    });
</script>
}
