@page
@model LedMatrix.Pages.Draw.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Draw</h1>

<div>
    @for (int i = Model.Height - 1; i >= 0; i--)
    {
        for (int j = 0; j < Model.Width; j++)
        {
            <button class="btn-primary pixel" style="height:15px" data-x=@j data-y=@i></button>
        }
        <br />
    }
</div>

<div>
    <canvas id="canvas" height="@(Model.Height * 30)" width="@(Model.Width * 30)"></canvas>
    <canvas id="rGPicker" height="@(255 * 2)" width="@(255 * 2)"></canvas>
</div>
@section Scripts{

<script>
    const cellSize = 30;
    $(document).ready(function () {
        var mouseIsDown = false;
        $(document).mousedown(function () {
            mouseIsDown = true;
        });
        $(document).mouseup(function () {
            mouseIsDown = false;
        });
        $('.pixel').click(function () {
            $.ajax({
                type: "POST",
                url: "api/Pixel",
                contentType: "application/json",
                data: JSON.stringify({
                    X: $(this).data("x"),
                    Y: $(this).data("y"),
                    R: 255,
                    G: 0,
                    B: 255,
                }),
                dataType: "json",
            })
            .done(function (result) {
                console.log(result);
            })
        });
        $('.pixel').mouseover(function () {
            if (mouseIsDown) {
                $.ajax({
                    type: "POST",
                    url: "api/Pixel",
                    contentType: "application/json",
                    data: JSON.stringify({
                        X: $(this).data("x"),
                        Y: $(this).data("y"),
                        R: 255,
                        G: 0,
                        B: 255,
                    }),
                    dataType: "json",
                })
                .done(function (result) {
                    console.log(result);
                })
            }
        });

        let canvas = document.getElementById("canvas");
        let context = canvas.getContext("2d");
        function drawGridLines() {
            let width = $('#canvas').width();
            let height = $('#canvas').height();

            for (let i = 0; i <= width; i += width / @Model.Width) {
                context.moveTo(i, 0);
                context.lineTo(i, height);
            }
            for (let i = 0; i <= height; i += height / @Model.Height) {
                context.moveTo(0, i);
                context.lineTo(width, i);
            }
            context.strokeStyle = "black";
            context.stroke();

        }
        let rGCanvas = document.getElementById("rGPicker");
        let rGContext = rGCanvas.getContext("2d");
        const colorCellSize = 2;
        function fillColorPicker() {
            for (let i = 0; i < 255; i++) {
                for (let j = 0; j < 255; j++) {
                    rGContext.fillStyle = `rgb(${i},${j},0)`;
                    rGContext.fillRect(i * colorCellSize, j * colorCellSize, colorCellSize, colorCellSize);
                }
            }

        }
        drawGridLines();
        fillColorPicker();

        $('#canvas').click(function (event) {
            console.log(event.offsetX);
            console.log(event.offsetY);

            let xShift = Math.floor(event.offsetX / cellSize);
            let yShift = Math.floor(event.offsetY / cellSize);
            console.log("X shift: " + xShift);
            console.log("Y shift: " + yShift);

            context.fillStyle = "red";
            context.fillRect(xShift * cellSize, yShift * cellSize, cellSize, cellSize);
        });
    });
</script>
}
